@model Books_01.Models.UserLogic.ApplicationUser
@{
    ViewBag.Title = "Index";
}

<h3>Имя: @Model.UserName</h3>
<h3>Фамилия: @Model.LastName</h3> <hr />

@using (Html.BeginForm("Index", "Message", FormMethod.Post))
{
    <input type="submit" value="Отправить сообщение" class="btn btn-default" />
}      